* {
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 0px;
}

:root {
  --blue: #232851;
  --black: #000000;
  --grayishblue: #1E1E26;
  --gray: #B3B2B7;
  --lightblue: #3CDDF3;
  --violet: #8B48BF;
  --white: #ffffff;
}

button {
  border: none;
  border-radius: 50px;
  height: 44px;
}

button:hover {
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

a {
  display: flex;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
}

#nav_first {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

#nav_first a {
  color: var(--blue);
  font-weight: 500;
  font-size: 13px;
  line-height: 19px
}

#nav_mobile {
  display: block;
}

#nav_desktop {
  display: none;
}

.button_first {
  background-color: var(--violet);
  color: var(--white);
  width: 134px;
}

#principal_section {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  text-align: end;
}

#principal_section article {
  padding-top: 80px;
}

#principal_section h1 {
  color: var(--blue);
  font-weight: 700;
  font-size: 50px;
  line-height: 114.6%;
  letter-spacing: -0.035em;
}

#principal_section p {
  font-style: normal;
  font-weight: 500;
  font-size: 16.5584px;
  line-height: 157.1%;
  color: var(--black);
  padding: 20px 0 20px 20px;
}

#second_section {
  background-color: var(--lightblue);
  color: var(--white);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#second_section h2 {
  padding-right: 20px;
  font-weight: 700;
  font-size: 36px;
  line-height: 114.6%;
}

#second_section p {
  padding-right: 110px;
  font-weight: 500;
  font-size: 16px;
  line-height: 151.1%;
}

#third_section {
  padding: 40px 0 40px 20px;
  display: flex;
  flex-wrap: wrap;
}

#third_section span {
  background-color: var(--violet);
  border-radius: 30px;
  width: 59px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
}

#third_section h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: var(--blue);
}

#third_section p {
  padding: 30px 10px;
  font-weight: 500;
  font-size: 16.2984px;
  line-height: 26px;
  color: var(--gray);
}

.header_third_section {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(139, 72, 191, 0.3);
  border-radius: 50px 0px 0px 50px;
}

footer {
  background-color: var(--grayishblue);
}

@media (min-width: 481px) {
  #nav_first {
    padding: 40px 120px;
  }

  #nav_mobile {
    display: none;
  }

  #nav_desktop {
    display: flex;
    align-items: center;
    gap: 150px;
  }

  #nav_desktop ul {
    display: flex;
    gap: 40px;
  }

  #principal_section {
    flex-direction: row;
    align-items: center;
    padding: 30px 120px;
    gap: 190px;
  }

  #principal_section article {
    padding-top: 0px;
  }

  #second_section {
    background-color: var(--violet);
    padding: 30px 170px;
    flex-direction: row;
    gap: 80px;
  }

  #second_section h2 {
    width: 90%;
  }

  #second_section p {
    padding-right: 0px;
  }

  #third_section {
    justify-content: center;
    padding: 40px 120px;
  }

  #third_section article {
    width: 50%;
  }

  #third_section p {
    padding: 20px 100px 20px 70px;
  }

  .header_third_section {
    background-color: var(--white);
  }

}