* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Be Vietnam Pro', sans-serif;
}

:root {
  --violeta: #8B48BF;
  --celeste: #3CDDF3;
  --azul-grisaceo: #1E1E26;
  --azul: #232851;
  --black: #000000;
  --white: #ffffff;
}

#nav_first {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

#nav_mobile {
  display: block;
}

#nav_desktop {
  display: none;
}

button {
  width: 134px;
  height: 44px;
  border-radius: 50px;
  border: none;
}

a {
  text-decoration: none;
  display: flex;
}

ul {
  list-style: none;
  padding: 0px;
}

.principal_section {
  display: flex;
  flex-direction: column;
  text-align: end;
  padding: 30px 40px;
}

.principal_section article {
  padding-top: 80px;
}

.principal_section h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 114.6%;
  color: var(--azul);
}

.principal_section p {
  font-style: normal;
  font-weight: 500;
  font-size: 16.5584px;
  line-height: 157.1%;
  color: var(--black);
  padding: 20px 0;
}

.second_section {
  background-color: var(--celeste);
  color: var(--white);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

footer{
  background-color: var(--azul-grisaceo);
}

@media (min-width: 481px) {
  #nav_mobile {
    display: none;
  }

  #nav_desktop {
    display: flex;
    align-items: center;
    gap: 150px;
  }

  #nav_desktop ul {
    display: flex;
    gap: 40px;
  }

  .principal_section {
    flex-direction: row;
    align-items: center;
  }

  .principal_section article {
    padding-top: 0px;
  }

  .second_section {
    background-color: var(--violeta);
  }
}